.header {
    width: 100vw;
    height: 4.5rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgb(54, 47, 248), rgba(94, 105, 139, 0.66), rgba(107, 206, 215, 0.836),rgba(186, 200, 243, 0.66), rgb(11, 11, 11));
    background-color: gainsboro;
}