.header {
    width: 100vw;
    height: 4.5rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(blue,
            rgba(133, 77, 255, 0.66),
            rgba(126, 47, 252, 0.836),
            rgba(206, 64, 249, 0.66),
            rgb(255, 2, 208));
    background-color: gainsboro;
    gap: 5rem;
}